.nav-wrapper{
  background-color: #26a69a;
}

.box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
}
.material-icons{
  font-size: 2.4em;
  cursor: pointer;
}
.card{
  /* width: 300px; */
}
.card .card-image .card-title{
  color: white;
  font-weight: 400;
  width: 100%;
  background-image: linear-gradient(transparent, black);
}
.card .card-image img{
  min-height: 225px;
}
.cart{
  margin-top:40px;
}
.collection .collection-item{
  display: flex;
}
.collection-item.avatar .title {
  font-size: 20px;
  font-weight: 500;
  color: #ee6e73;
  display: block;
  margin-bottom: 20px;
  
}
.collection .collection-item img{
  width: 150px;
  margin-right: 25px;
}
.item-desc{
  align-self:center;
}

.slick-slide {
  float: left !important;
}
.slick-slide .card {
  min-height: 350px;
  max-width: 600px;
  /* min-width: 400px; */
  margin-right: 10px;
}
button.slick-arrow.slick-prev , button.slick-arrow.slick-next{
  display: none !important;
}
